.div-info-horaire, .div-info-resultat {
	display: inline-block;
	width: 20%;
	text-align: center;
}

.info-equipe-dom, .info-equipe-ext{
	vertical-align: top;
	padding-right: 5px;
	padding-left: 5px;
	width: 40%;
	display: inline-block;
}

.info-date-match, .info-heure-match, .info-lieu-match{
	margin: 0px;
}

.info-equipe-dom{
	text-align: right;
}
.info-equipe-ext{
	text-align: left;
}

.info-equipe-dom, .info-equipe-ext{
	font-size: 14px;
  font-weight: 500;
}

.div-info-dernier-match > .info-equipe-dom, .div-info-dernier-match > .info-equipe-ext{
	vertical-align: baseline;
}

.div-body-prochains-matchs, .div-body-derniers-matchs{
	margin:0px;
}

.info-date-match{
	font-weight: bold;
}

.info-heure-match, .info-lieu-match{
	font-size: 13px;
    font-weight: 500;
}

.info-lieu-match{
	font-size: 10px;
    font-weight: 500;
}

.div-info-prochains-match, .div-info-dernier-match{
	margin-top: 10px;
	margin-bottom: 10px;
}
