<mat-tab-group mat-stretch-tabs>
	<mat-tab label="Prochains Matchs" class="mat-tab-label">
    <div *ngIf="eventsProchainsMatchs?.length; then ProchainsMatchs else noProchainsMatchs"></div>
    <ng-template #noProchainsMatchs>
      <p class="text-no-result">Aucun match prévu</p>
    </ng-template>
    <ng-template #ProchainsMatchs>
      <div class="div-body-prochains-matchs" *ngFor="let event of eventsProchainsMatchs; let lastItem = last;">
        <div *ngIf="event.match.domicile; then divMatchDomicile else divMatchExterieur" ></div>
        <ng-template #divMatchDomicile>
          <div class="div-info-prochains-match">
            <span class="info-equipe-dom">{{event.match.equipe.nom}}</span>
            <div class="div-info-horaire">
              <p class="info-date-match">{{event.match.dateMatch | date:'dd/MM'}}</p>
              <p class="info-heure-match">{{event.match.heureMatch}}</p>
              <p class="info-lieu-match">{{event.lieu.nom}}</p>
            </div>
            <span class="info-equipe-ext">{{event.match.adversaire}}</span>
          </div>
        </ng-template>
        <ng-template #divMatchExterieur>
          <div class="div-info-prochains-match">
            <span class="info-equipe-dom">{{event.match.adversaire}}</span>
            <div class="div-info-horaire">
              <p class="info-date-match">{{event.match.dateMatch | date:'dd/MM'}}</p>
              <p class="info-heure-match">{{event.match.heureMatch}}</p>
              <p class="info-lieu-match">Extérieur</p>
            </div>
            <span class="info-equipe-ext">{{event.match.equipe.nom}}</span>
          </div>
        </ng-template>
        <mat-divider *ngIf="!lastItem"></mat-divider>
      </div>
    </ng-template>
	</mat-tab>
  <mat-tab label="Derniers Matchs">
    <div *ngIf="eventsDerniersMatchs?.length; then DerniersMatchs else noDerniersMatchs"></div>
    <ng-template #noDerniersMatchs>
      <p class="text-no-result">Aucun match joué</p>
    </ng-template>
    <ng-template #DerniersMatchs>
      <div class="div-body-derniers-matchs" *ngFor="let event of eventsDerniersMatchs; let lastItem = last;">
        <div *ngIf="event.match.domicile; then divMatchDomicile else divMatchExterieur" ></div>
        <ng-template #divMatchDomicile>
          <div class="div-info-dernier-match">
            <span class="info-equipe-dom" [ngClass]="{colorGagne:event.match.scoreEquipe>event.match.scoreAdversaire,colorPerdu:event.match.scoreAdversaire>event.match.scoreEquipe}">{{event.match.equipe.nom}}</span>
            <div class="div-info-resultat">
              <p class="info-heure-match">{{event.match.dateMatch | date:'dd/MM'}} - {{event.match.heureMatch}}</p>
              <span class="info-resultat" [ngClass]="{bold:event.match.scoreEquipe>event.match.scoreAdversaire}" >{{event.match.scoreEquipe}}</span>
              <span class="info-resultat"> - </span>
              <span class="info-resultat" [ngClass]="{bold:event.match.scoreAdversaire>event.match.scoreEquipe}" >{{event.match.scoreAdversaire}}</span>
            </div>
            <span class="info-equipe-ext" [ngClass]="{colorGagne:event.match.scoreEquipe<event.match.scoreAdversaire,colorPerdu:event.match.scoreAdversaire<event.match.scoreEquipe}">{{event.match.adversaire}}</span>
          </div>
        </ng-template>
        <ng-template #divMatchExterieur>
          <div class="div-info-dernier-match">
            <span class="info-equipe-dom" [ngClass]="{colorGagne:event.match.scoreAdversaire>event.match.scoreEquipe,colorPerdu:event.match.scoreAdversaire<event.match.scoreEquipe}">{{event.match.adversaire}}</span>
            <div class="div-info-resultat">
              <span class="info-resultat" [ngClass]="{bold:event.match.scoreAdversaire>event.match.scoreEquipe}" >{{event.match.scoreAdversaire}}</span>
              <span class="info-resultat"> - </span>
              <span class="info-resultat" [ngClass]="{bold:event.match.scoreEquipe>event.match.scoreAdversaire}" >{{event.match.scoreEquipe}}</span>
            </div>
            <span class="info-equipe-ext" [ngClass]="{colorGagne:event.match.scoreEquipe>event.match.scoreAdversaire,colorPerdu:event.match.scoreEquipe<event.match.scoreAdversaire}">{{event.match.equipe.nom}}</span>
          </div>
        </ng-template>
        <mat-divider *ngIf="!lastItem"></mat-divider>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
