<nav id="nav-header" class="navbar navbar-default">
	<div class="container-fluid">
		<a id="titre_nav" class="navbar-brand" href="/">#BasketStats</a>
		<ul id="info-account" class="navbar-nav ml-auto" *ngIf="connect else noconnect">
			<button mat-button [matMenuTriggerFor]="menu">
			  <span>{{username}}</span>
			  <i class="fas fa-bars"></i>
			</button>
			<mat-menu #menu="matMenu">
			  <a href="/mon-profil" mat-menu-item>
			    <span>Mon profil</span>
			  </a>
			  <a href="/mon-calendrier" mat-menu-item>
			    <span>Mon calendrier</span>
			  </a>
			  <a href="/mes-equipes" mat-menu-item>
			    <span>Mes équipes</span>
			  </a>
			  <a mat-menu-item (click)="deconnexion()">
			    <span>Déconnexion</span>
			  </a>
			</mat-menu>
		</ul>
		<ng-template #noconnect>
			<div id="info-account" >
				<div class="li-account d-inline-block" ngbDropdown display="dynamic" placement="bottom-right">
					<a id="button_connection" href="/login" >Se Connecter</a>
					<!--<div ngbDropdownMenu aria-labelledby="button_connection">
						<div class="container-fluid">
              <div>
                <button class="btn btn-lg btn-google btn-block" (click)="signInWithGoogle()">
                  <i class="fab fa-google mr-2"></i>
                   Connectez-vous avec Google
                </button>
                <button class="btn btn-lg btn-facebook btn-block" (click)="signInWithFacebook()">
                  <i class="fab fa-facebook-f mr-2"></i>
                   Connectez-vous avec Facebook
                </button>
              </div>
              <div class="div-divider">
                <span class="span-divider">OU</span>
              </div>
						  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
							    <h1> Vous avez déjà un compte ?</h1>
							    <div class="form-group full-width" >
							        <input formControlName="username" class="form-control"  placeholder="Email ou identifiant">
							    </div>
							    <div class="form-group full-width">
							        <input formControlName="password" class="form-control" type="password" placeholder="Mot de passe">
							    </div>
							    <button type="submit" class="btn btn-success full-width">Se connecter</button>
							    <a href="/motdepasseoublie" ngbDropdownItem>Mot de passe oublié ?</a>
							    <mat-divider></mat-divider>
							    <p>Nouveau sur BasketStats</p>
                  <a href="/inscription" class="btn btn-info full-width" ngbDropdownItem>S'inscrire</a>
              </form>
						</div>
					</div>-->
				</div>
				<div class="li-account">
					<a class="btn btn-outline-danger" href="/inscription" id="button_inscription" >Inscription</a>
				</div>
			</div>
		</ng-template>
	</div>
</nav>
<ul class="nav_site nav nav-justified navbar-light bg-light">
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['accueil']" routerLinkActive="active">Accueil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['clubs']" routerLinkActive="active">clubs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['faq']" routerLinkActive="active">FAQ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['fonctionnalites']" routerLinkActive="active">Fonctionnalités</a>
	</li>
</ul>
