<nav id="nav-header" class="navbar navbar-default">
	<div class="container-fluid">
		<a id="titre_nav" class="navbar-brand" href="/">#BasketStats</a>
		<ul id="info-account" class="navbar-nav ml-auto" *ngIf="connect else noconnect">
			<button mat-button [matMenuTriggerFor]="menu">
			  <span>{{username}}</span>
			  <i class="fas fa-bars"></i>
			</button>
			<mat-menu #menu="matMenu">
			  <a [routerLink]="['profil']" mat-menu-item>
			    <span>Mon profil</span>
			  </a>
			  <a [routerLink]="['calendrier']" mat-menu-item>
			    <span>Mon calendrier</span>
			  </a>
			  <a [routerLink]="['equipes']" mat-menu-item>
			    <span>Mes équipes</span>
			  </a>
			  <a mat-menu-item (click)="deconnexion()">
			    <span>Déconnexion</span>
			  </a>
			</mat-menu>
		</ul>
		<ng-template #noconnect>
			<div id="info-account" >
				<div class="li-account d-inline-block" ngbDropdown display="dynamic" placement="bottom-right">
					<a id="button_connection" [routerLink]="['login']" >Se Connecter</a>
				</div>
				<div class="li-account">
					<a class="btn btn-outline-danger" [routerLink]="['inscription']" id="button_inscription" >Inscription</a>
				</div>
			</div>
		</ng-template>
	</div>
</nav>
<ul class="nav_site nav nav-justified navbar-light bg-light">
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['accueil']" routerLinkActive="active">Accueil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['clubs']" routerLinkActive="active">clubs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['faq']" routerLinkActive="active">FAQ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['fonctionnalites']" routerLinkActive="active">Fonctionnalités</a>
	</li>
</ul>
