<div id="footer">
  <div class="container">
    <div class="row">
      <p class="title">Suivez-nous</p>
    </div>
    <div class="row">
      <div class="block-icons">
        <div class="block-icon">
          <i id="icon-facebook" class="fab fa-facebook"></i>
          <span>Facebook</span>
        </div>
        <div class="block-icon">
          <i id="icon-twitter" class="fab fa-twitter"></i>
          <span>Twitter</span>
        </div>
        <div class="block-icon">
          <i id="icon-youtube" class="fab fa-youtube"></i>
          <span>YouTube</span>
        </div>
      </div>
    </div>
    <div class="row">
      <p>Copyright 2020 <i class="far fa-copyright"></i> - BasketStats SAS</p>
    </div>
  </div>
</div>
