table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn-default{
  background-color: buttonface;
}

.div-tableau{
  margin-top: 2%;
}

.div-filter{
  text-align: center;
}

.filtre{
  display: inline-block;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.divEquipe{
  display: inline-block;
}

.cardEquipe{
  margin:10px;
}

.btn-infos {
  color: white;
  background-color: #51A7E8;
  border-radius: 100px;
  width: 100%;
  font-weight: 500;
}

.btn-infos:hover {
  background-color: #2691E3;
}

.create-equipe {
  margin-bottom: 20px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}
