.btn{
	width: 100%;
}

.radio-sexe{
	display: inline-block;
	margin-right: 5%;
}

.radio-buttons{
    width: 100%;
    display: block;
    text-align: center;
}


.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
