.div_body_club{
  width: 80%;
  display: inline-block;
  margin-left: 1%;
}

.content{
  margin-right:3%;
  margin-left: 3%;
}

.div_photo_couverture>img{
  width: 100%;
  height: auto;
  padding:0;
}

.div_infos_club{
  width: 100%;
  display: inline-block;
  text-align: left;
}

.div_logo_club{
  margin-left: 3%;
  width: 10%;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.logo_club{
  width: 100%;
  height: auto;
}

.Titre_Infos_club{
  font-weight: 650;
}

