<div class="cadre-gris">
  <div class="div-link-retour">
    <a [routerLink]="['../../equipes']">
      <i id="icon-link-retour" class="fas fa-chevron-left"></i>
      <span class="span-link-retour">Retour aux equipes du club</span>
    </a>
  </div>
  <div class="div_body_equipe">
    <div>
      <div class="row">
        <div class="col-4">
          <div *ngIf="equipe.imageequipe; then image else imageindispo"></div>
          <ng-template #image>
            <img class="img-equipe" [src]="equipe.imageequipe">
          </ng-template>
          <ng-template #imageindispo>
            <img class="img-equipe" src="assets/img/img_no_available.jpg">
          </ng-template>
        </div>
        <div class="col-8">
          <h1 class="nom-equipe">{{equipe.nom}}</h1>
          <p>
            <span class="titre-infos-club">{{equipe.niveau}} {{equipe.division}} (Poule {{equipe.poule}})</span>
          </p>
          <p>
            <span class="titre-infos-club">Coach :</span>
          </p>
          <p>
            <span class="titre-infos-club">Entraineur :</span>
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-12">
          <app-infos-joueurs-equipe [equipe]="equipe" *ngIf="equipe"></app-infos-joueurs-equipe>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="col-6">
          <app-infos-events-equipe [equipe]="equipe" *ngIf="equipe"></app-infos-events-equipe>
        </div>
        <div class="col-6">
          <app-infos-matchs-equipe [equipe]="equipe" *ngIf="equipe"></app-infos-matchs-equipe>
        </div>
      </div>
    </div>
	</div>
</div>
