<div class="vue-match-of-club">
    <mat-button-toggle-group #group="matButtonToggleGroup">
  		<mat-button-toggle checked #toggleMatchAVenir>Matchs à venir</mat-button-toggle>
  		<mat-button-toggle #toggleMatchJoue>Matchs joués</mat-button-toggle>
	</mat-button-toggle-group>
    <div id="divMatchAVenir" [hidden]="!toggleMatchAVenir.checked">
    	<div *ngIf="matchsByMonthAVenir.length >0 ; then blocMatchsAVenir else blocAucunMatchAVenir"></div>
	    <ng-template #blocMatchsAVenir>
			<table class="table-match">
		        <thead>
		            <tr>
		                <th scope="col">Date</th>
		                <th scope="col">Heure</th>
		                <th scope="col">Equipe</th>
		                <th scope="col">Adversaire</th>
		                <th scope="col">Résultat</th>
		                <th scope="col">Score</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr  *ngFor="let event of matchsByMonthAVenir">
		                <td>{{event.match.dateMatch | date:'dd/MM/yy'}}</td>
		                <td>{{event.match.heureMatch}}</td>
		                <td>{{event.match.equipe.nom}}</td>
		                <td>{{event.match.adversaire}}</td>
		                <td *ngIf="event.match.scoreEquipe==null||event.match.scoreAdversaire==null;"></td>
		                <td *ngIf="event.match.scoreEquipe!=null&&event.match.scoreAdversaire!=null&&event.match.scoreEquipe>event.match.scoreAdversaire;">V</td>
		                <td *ngIf="event.match.scoreEquipe!=null&&event.match.scoreAdversaire!=null&&event.match.scoreEquipe<event.match.scoreAdversaire;">D</td>      
		                <td>{{event.match.scoreEquipe}} - {{event.match.scoreAdversaire}}</td>
		            </tr>
		        </tbody>
		    </table>
		</ng-template>
		<ng-template #blocAucunMatchAVenir>Aucun match à venir</ng-template>
    </div>
    <div id="divMatchJoue" [hidden]="!toggleMatchJoue.checked"> 
        <div *ngIf="matchsByMonthJoue.length>0; then blocMatchsJoue else blocAucunMatchJoue"></div>
	    <ng-template #blocMatchsJoue>
			<table class="table-match">
		        <thead>
		            <tr>
		                <th scope="col">Date</th>
		                <th scope="col">Heure</th>
		                <th scope="col">Equipe</th>
		                <th scope="col">Adversaire</th>
		                <th scope="col">Résultat</th>
		                <th scope="col">Score</th>
		            </tr>
		        </thead>
		        <tbody>
		        	<!-- <tr class="tr-month">
		                <td colspan="100%">{{event.match.dateMatch | date:'MMMM':'':'fr'}}</td>
		            </tr>-->
		            <tr  *ngFor="let event of matchsByMonthJoue">
		                <td>{{event.match.dateMatch | date:'dd/MM/yy'}}</td>
		                <td>{{event.match.heureMatch}}</td>
		                <td>{{event.match.equipe.nom}}</td>
		                <td>{{event.match.adversaire}}</td>
		                <td *ngIf="event.match.scoreEquipe==null||event.match.scoreAdversaire==null;"></td>
		                <td *ngIf="event.match.scoreEquipe!=null&&event.match.scoreAdversaire!=null&&event.match.scoreEquipe>event.match.scoreAdversaire;">V</td>
		                <td *ngIf="event.match.scoreEquipe!=null&&event.match.scoreAdversaire!=null&&event.match.scoreEquipe<event.match.scoreAdversaire;">D</td>      
		                <td>{{event.match.scoreEquipe}} - {{event.match.scoreAdversaire}}</td>
		            </tr>
		        </tbody>
		    </table>
		</ng-template>
	    <ng-template #blocAucunMatchJoue>Aucun match à jouer</ng-template>
    </div>
</div>