.label-parametre{
	display: inline-block;
	width: 30%;
}

.value-parametre{
	display: inline-block;
	width: 30%;
}

.bouton-parametre{
	display: inline-block;
	width: 40%;
}

.icons-parametre{
	display: inline-block;
}

/* Salles */
.icons-parametre{
  display: inline-block;
}

.div-elements-salle{
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}

.div-element >>> .title {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  margin-right: 5px;
}

.div-infos-adresse > .infos {
  display: block;
}

.div-infos-adresse, .div-title-adresse {
  display: inline-block;
}

.div-title-adresse {
  vertical-align: top;
}

/* Ville */
.div-elements-ville{
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}


.div-form {
  background-color: #f8f9fa!important;
  border: 1px solid #bbb;
  border-radius: 25px;
  padding: 10px;
}

.btn {
  margin-right: 10px;
  margin-left: 10px;
}
