<mat-tab-group>
	<mat-tab label="Prochains Matchs"> 
		<div class="div-body-prochains-matchs" *ngFor="let event of eventsProchainsMatchs ">
			<div *ngIf="event.match.domicile; then divMatchDomicile else divMatchExterieur" ></div>
			<ng-template #divMatchDomicile>
				<div class="div-info-prochains-match">
					<span class="info-equipe-dom">{{event.match.equipe.nom}}</span>
					<div class="div-info-horaire">
						<p class="info-date-match">{{event.match.dateMatch | date:'dd-MM'}}</p>
						<p class="info-heure-match">{{event.match.heureMatch}}</p>
					</div>
					<span class="info-equipe-ext">{{event.match.adversaire}}</span>
				</div>
			</ng-template>
			<ng-template #divMatchExterieur>
				<div class="div-info-prochains-match">
					<span class="info-equipe-dom">{{event.match.adversaire}}</span>
					<div class="div-info-horaire">
						<p class="info-date-match">{{event.match.dateMatch | date:'dd-MM'}}</p>
						<p class="info-heure-match">{{event.match.heureMatch}}</p>
					</div>
					<span class="info-equipe-ext">{{event.match.equipe.nom}}</span>
				</div>
			</ng-template>
		</div>
	</mat-tab>
	
  	<mat-tab label="Derniers Matchs">
		<div class="div-body-derniers-matchs" *ngFor="let event of eventsDerniersMatchs ">
			<div *ngIf="event.match.domicile; then divMatchDomicile else divMatchExterieur" ></div>
			<ng-template #divMatchDomicile>
				<div class="div-info-dernier-match">
					<span class="info-equipe-dom">{{event.match.equipe.nom}}</span>
					<span class="info-resultat">{{event.match.scoreEquipe}} - {{event.match.scoreAdversaire}}</span>
					<span class="info-equipe-ext">{{event.match.adversaire}}</span>
				</div>
			</ng-template>
			<ng-template #divMatchExterieur>
				<div class="div-info-dernier-match">
					<span class="info-equipe-dom">{{event.match.adversaire}}</span>
					<span class="info-resultat">{{event.match.scoreAdversaire}} - {{event.match.scoreEquipe}}</span>
					<span class="info-equipe-ext">{{event.match.equipe.nom}}</span>
				</div>
			</ng-template>
		</div>
  	</mat-tab>
</mat-tab-group>