.label-parametre{
	display: inline-block;
	width: 30%;
}

.value-parametre{
	display: inline-block;
	width: 30%;
}

.bouton-parametre{
	display: inline-block;
	width: 40%;
}

.icons-parametre{
	display: inline-block;
}