<form class="form-equipe" [formGroup]="equipeForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>
      Création d'une équipe
  </h1>
  <div mat-dialog-content class="div-form-create">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom de l'équipe</mat-label>
        <input formControlName="nom" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Catégorie</mat-label>
          <mat-select name="categories" formControlName="categorie">
              <mat-option *ngFor="let keyCategories of keysCategories" [value]="keyCategories">
                  {{categories[keyCategories]}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Sexe</mat-label>
          <mat-select name="sexes" formControlName="sexe">
              <mat-option *ngFor="let keySexes of keysSexes" [value]="keySexes">
                  {{sexes[keySexes]}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
          <mat-label>Niveau</mat-label>
          <mat-select name="niveaux" formControlName="niveau">
              <mat-option *ngFor="let keyNiveaux of keysNiveaux" [value]="keyNiveaux">
                  {{niveaux[keyNiveaux]}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Division</mat-label>
        <input matInput formControlName="division">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Poule</mat-label>
        <input matInput formControlName="poule">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Image equipe</mat-label>
        <ngx-mat-file-input #imageequipe formControlName="imageequipe"></ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!imageequipe.empty" (click)="imageequipe.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button type="submit" class="btn btn-success create-equipe full-width"> <i class="fa fa-plus-circle"></i> Créer l'équipe</button>
  </div>
</form>

