<div class="container div-login">
	<div class="cadre-gris col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12 col-xs-12">
		<h1 class="titre-center">
	        #BasketStats
	    </h1>
		<form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		    <div class="div-form-create">
		        <mat-form-field appearance="outline" class="full-width">
		            <mat-label>Adresse mail ou identifiant</mat-label>
		            <input formControlName="username" matInput>
		        </mat-form-field>
		        <mat-form-field appearance="outline" class="full-width">
		            <mat-label>Mot de passe</mat-label>
		            <input type="password" formControlName="password" matInput>
		        </mat-form-field>
		    </div>
		    <div>
		        <button type="submit" class="btn btn-success full-width">Se connecter</button>
		    </div>
		</form>
	</div>
	<div class="cadre-gris col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12 col-xs-12">
		<p>Vous avez déjà un compte ? <a [routerLink]="['/login']">Se connecter</a></p>
	</div>
</div>