<div class="div-infos-club">
  <h1 class="infos-club nom-club">{{club.nomcomplet}}</h1>
  <p class="infos-club sport">
      <span class="titre-infos-club">Sport : </span>
      <span>{{club.sport}}</span>
  </p>
  <p class="infos-club region">
      <span class="titre-infos-club">Région : </span>
      <span>{{club.villes[0].region}}</span>
  </p>
  <p class="infos-club departement">
      <span class="titre-infos-club">Département : </span>
      <span>{{club.villes[0].departement}} ({{club.villes[0].codeDepartement}})</span>
  </p>
  <p class="infos-club ville">
      <span class="titre-infos-club">Ville : </span>
      <span *ngFor="let ville of club.villes ; let isLast=last">
        {{ville.nom}} ({{ville.codePostal}}) {{isLast ? '' : ', '}}
      </span>
  </p>
</div>
