<form class="form-club" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>
      Création d'un événement
  </h1>
  <div mat-dialog-content class="div-form-create">
    <mat-form-field class="full-width">
          <mat-label>Type</mat-label>
          <mat-select name="typeEvents" formControlName="type" (optionSelected)="changeType($event)">
              <mat-option *ngFor="let key of keysTypeEvent" [value]="key">
                  {{typeEvents[key]}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <div [ngSwitch]="eventForm.value.type" class="full-width">
        <div *ngSwitchCase="'MATCH'" class="full-width">

           <mat-form-field formGroupName="match" class="full-width">
              <input formControlName="equipe" matInput [matAutocomplete]="auto" placeholder="Nom de l'équipe">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let equipe of filteredMatchEquipes | async" [value]="equipe" >
                      <span>{{equipe.nom}}</span> |
                      <small>Catégorie: {{equipe.category}}</small>
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>

           <mat-form-field formGroupName="match" class="full-width">
              <input formControlName="adversaire" matInput placeholder="Nom de l'équipe adverse">
          </mat-form-field>

           <div class="full-width" formGroupName="match">
             <mat-checkbox formControlName="domicile">Domicile</mat-checkbox>
          </div>

          <app-autocomplete-lieu (eventLieu)="getLieuMatch($event)"></app-autocomplete-lieu>
            <mat-form-field class="full-width">
                <input matInput formControlName="startDate" [matDatepicker]="dateStart" placeholder="Date du match" >
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="input-time full-width">
                <input type="time" formControlName="startTime" matInput placeholder="Heure de rendez-vous">
            </mat-form-field>
            <mat-form-field class="input-time full-width">
                <input type="time" formControlName="endTime" matInput placeholder="Heure de début du match">
            </mat-form-field>
          <mat-form-field class="full-width">
              <textarea matInput formControlName="infosSup" placeholder="Informations supplémentaires"></textarea>
          </mat-form-field>
        </div>
        <div *ngSwitchCase="'ENTRAINEMENT'" >
          <mat-checkbox formControlName="recurent" (change)="onChangeRecurrentEntrainement($event)">Evènement Récurent</mat-checkbox>
          <div [hidden]="hiddenReccurentEntrainement">
              <mat-chip-list #chipListWeekEntrainemen [multiple]="true" [selectable]="true">
                  <mat-chip value="MO" #chiplundi="matChip" (click)="selectChip(chiplundi)" color="accent" [selectable]="true">Lundi</mat-chip>
                  <mat-chip value="TU" #chipmardi="matChip" (click)="selectChip(chipmardi)" color="accent" [selectable]="true">Mardi</mat-chip>
                  <mat-chip value="WE" #chipmercredi="matChip" (click)="selectChip(chipmercredi)" color="accent" [selectable]="true">Mercredi</mat-chip>
                  <mat-chip value="TH" #chipjeudi="matChip" (click)="selectChip(chipjeudi)" color="accent" [selectable]="true">Jeudi</mat-chip>
                  <mat-chip value="FR" #chipvendredi="matChip" (click)="selectChip(chipvendredi)" color="accent" [selectable]="true">Vendredi</mat-chip>
                  <mat-chip value="SA" #chipsamedi="matChip" (click)="selectChip(chipsamedi)" color="accent" [selectable]="true">Samedi</mat-chip>
                  <mat-chip value="SU" #chipdimanche="matChip" (click)="selectChip(chipdimanche)" color="accent" [selectable]="true">Dimanche</mat-chip>
              </mat-chip-list>
          </div>
          <div class="full-width">
              <mat-form-field>
                  <input matInput formControlName="startDate" [matDatepicker]="dateStart" placeholder="Date de début" >
                  <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                  <mat-datepicker #dateStart></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="input-time">
                  <input type="time" formControlName="startTime" matInput placeholder="Heure de début">
              </mat-form-field>
          </div>
          <div class="full-width">
              <mat-form-field>
                  <input matInput formControlName="endDate" [matDatepicker]="dateEnd" placeholder="Date de Fin">
                  <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                  <mat-datepicker #dateEnd></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="input-time">
                  <input type="time" formControlName="endTime" matInput placeholder="Heure de fin">
              </mat-form-field>
          </div>
          <app-autocomplete-lieu (eventLieu)="getLieuEntrainement($event)"></app-autocomplete-lieu>
          <mat-form-field class="full-width">
              <mat-chip-list #chipList>
                  <mat-chip
                      *ngFor="let equipe of equipesEntrainementEvent"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="removeEquipeEntrainement(equipe)">
                          <span>{{equipe.nom}}</span>
                      <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input
                  placeholder="Ajouter des équipes participantes à l'événement"
                  #equipeInput
                  [formControl]="equipeEntrainementCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="false">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedEquipeEntrainement($event)">
                  <mat-option *ngFor="let equipe of filteredEntrainementEquipes | async" [value]="equipe" >
                      <span>{{equipe.nom}}</span> |
                      <small>Catégorie: {{equipe.category}}</small>
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="full-width">
              <textarea matInput formControlName="infosSup" placeholder="Informations supplémentaires"></textarea>
          </mat-form-field>
        </div>
        <div *ngSwitchCase="'AUTRE'" >
          <mat-form-field class="full-width">
              <input formControlName="title" matInput placeholder="Titre">
          </mat-form-field>
          <mat-checkbox formControlName="recurent" (change)="onChangeRecurrentAutre($event)">Evènement Récurent</mat-checkbox>

      <div *ngIf="!hiddenReccurentAutre; else noReccurentAutre">
              <mat-chip-list #chipListWeek [multiple]="true" [selectable]="true">
                  <mat-chip value="MO" #chiplundi="matChip" (click)="selectChip(chiplundi)" color="accent" [selectable]="true">Lundi</mat-chip>
                  <mat-chip value="TU" #chipmardi="matChip" (click)="selectChip(chipmardi)" color="accent" [selectable]="true">Mardi</mat-chip>
                  <mat-chip value="WE" #chipmercredi="matChip" (click)="selectChip(chipmercredi)" color="accent" [selectable]="true">Mercredi</mat-chip>
                  <mat-chip value="TH" #chipjeudi="matChip" (click)="selectChip(chipjeudi)" color="accent" [selectable]="true">Jeudi</mat-chip>
                  <mat-chip value="FR" #chipvendredi="matChip" (click)="selectChip(chipvendredi)" color="accent" [selectable]="true">Vendredi</mat-chip>
                  <mat-chip value="SA" #chipsamedi="matChip" (click)="selectChip(chipsamedi)" color="accent" [selectable]="true">Samedi</mat-chip>
                  <mat-chip value="SU" #chipdimanche="matChip" (click)="selectChip(chipdimanche)" color="accent" [selectable]="true">Dimanche</mat-chip>
        </mat-chip-list>
        <div class="full-width">
          <mat-form-field>
            <input matInput formControlName="startDate" [matDatepicker]="dateStart" placeholder="Date de début" >
            <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
            <mat-datepicker #dateStart></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="endDate" [matDatepicker]="dateEnd" placeholder="Date de Fin">
            <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
            <mat-datepicker #dateEnd></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="full-width">
          <mat-form-field class="input-time">
            <input type="time" formControlName="startTime" matInput placeholder="Heure de début">
          </mat-form-field>
          <mat-form-field class="input-time">
            <input type="time" formControlName="endTime" matInput placeholder="Heure de fin">
          </mat-form-field>
        </div>
        <app-autocomplete-lieu (eventLieu)="getLieuAutre($event)"></app-autocomplete-lieu>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="infosSup" placeholder="Informations supplémentaires"></textarea>
        </mat-form-field>
      </div>
      <ng-template #noReccurentAutre>
        <div class="full-width">
          <mat-form-field>
            <input matInput formControlName="startDate" [matDatepicker]="dateStart" placeholder="Date de l'événement" >
            <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
            <mat-datepicker #dateStart></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="full-width">
          <mat-form-field class="input-time">
            <input type="time" formControlName="startTime" matInput placeholder="Heure de début">
          </mat-form-field>
          <mat-form-field class="input-time">
            <input type="time" formControlName="endTime" matInput placeholder="Heure de fin">
          </mat-form-field>
        </div>
        <app-autocomplete-lieu (eventLieu)="getLieuAutre($event)"></app-autocomplete-lieu>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="infosSup" placeholder="Informations supplémentaires"></textarea>
        </mat-form-field>
      </ng-template>
        </div>
      </div>
  </div>
  <div mat-dialog-actions>
      <button type="submit" class="btn btn-success create-event"> <i class="fa fa-plus-circle"></i> Créer l'événement</button>
  </div>
</form>
