<div class="div-vue-equipe cadre-gris">
	<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12">
    <button mat-raised-button  class="btn btn-success create-equipe full-width" (click)="openCreateEquipeDialog()">
      <i class="fa fa-plus-circle"></i> Créer une équipe
    </button>
    <div class="input-group">
      <mat-form-field appearance="outline">
        <mat-label>Rechercher une équipe</mat-label>
        <input matInput [formControl]="nomFilter">
      </mat-form-field>
    </div>
  </div>
  <div>
    <div class="divEquipe col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let equipe of equipes">
      <div class="card cardEquipe">
        <img class="card-img-top" src="assets/img/photo_equipe.jpg">
        <div class="card-body">
          <h5 class="card-title">{{equipe.nom}}</h5>
          <p class="card-text">{{equipe.niveau}} {{equipe.division}}</p>
          <p class="card-text">Poule {{equipe.poule}}</p>
          <a href="#" class="btn btn-primary">Voir plus d'informations</a>
        </div>
      </div>
    </div>
  </div>
</div>

