<div class="container">
  <div class="row">
    <h1 class="title">Effectif de l'équipe</h1>
  </div>
  <div class="row">
    <div *ngFor="let joueur of joueurs" class="col-2 card-joueur">
      <div *ngIf="joueur.imagejoueur; then image else imageindispo"></div>
      <ng-template #image>
        <img class="card-img-top" [src]="joueur.imagejoueur">
      </ng-template>
      <ng-template #imageindispo>
        <img class="card-img-top" src="assets/img/img_no_available.jpg">
      </ng-template>
      <p class="nom-joueur">{{joueur.prenom}} {{joueur.nom |uppercase}}</p>
    </div>
  </div>
</div>
