<div class="div-vue-joueur cadre-gris">
	<h1>
		Les joueurs du club
	</h1>
	<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12">
       <!-- <button mat-raised-button  class="btn btn-success create-equipe full-width" (click)="openCreateEquipeDialog()"> <i class="fa fa-plus-circle"></i> Créer une équipe</button> -->
    	<div class="input-group">
            <mat-form-field appearance="outline">
                <mat-label>Rechercher un joueur</mat-label>
                <input matInput [formControl]="nomFilter">
            </mat-form-field>
        </div>
    </div>
	<div class="div-tableau">
    	<div [hidden]="dataTable.filteredData.length==0">
    		<table mat-table [dataSource]="dataTable" matSort>
			  <ng-container matColumnDef="nom">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
			    <td mat-cell *matCellDef="let joueur"> {{joueur.nom}} </td>
			  </ng-container>
			  <ng-container matColumnDef="prenom">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
			    <td mat-cell *matCellDef="let joueur"> {{joueur.prenom}} </td>
			  </ng-container>
			  <ng-container matColumnDef="sexe">
			    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
			    <td mat-cell *matCellDef="let joueur"> {{joueur.sexe}} </td>
			  </ng-container>
			  <ng-container matColumnDef="dateNaissance">
			    <th mat-header-cell *matHeaderCellDef> Date de naissance </th>
			    <td mat-cell *matCellDef="let joueur"> {{joueur.dateNaissance}}</td>
			  </ng-container>
			  <ng-container matColumnDef="details">
			    <th mat-header-cell *matHeaderCellDef></th>
			    <td mat-cell *matCellDef="let joueur">
			        <button mat-raised-button  class="btn btn-warning full-width" [routerLink]="['/joueur',joueur.id,'interne']">
                        Plus d'informations
                    </button>
			    </td>
			  </ng-container>
			  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    	</div>
		<div [hidden]="dataTable.filteredData.length>0">
			<p>Aucune joueur ne correspond à votre recherche</p>
		</div>
	</div>
</div>